<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>
  
    <link rel="stylesheet" href="">
    {{!-- {{todo pending css}} --}}

</head>

<body>
         <header>
            <h2>
                Blog
            </h2>
            <nav>
                {{!-- {{todo login links}} --}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
        </footer>
    <script src=""></script> 
   {{!-- {{ todobuild in login/out files}} --}}
</body>

</html>