<div>

	<button id='editButton' type='submit' class='btn btn-primary'>edit</button>
	<button id='delete' type='submit' class='btn btn-primary'>delete</button>

	<h1>{{title}}</h1>
	<p>{{blog}}</p>

	{{blogs}}

</div>