<button id='newBlog' type='submit' class='btn btn-primary'>Start New Blog</button>

{{#each blogs as |blog|}}
  <div class="blog">

		<li><a href='/blog/{{blog.id}}'>{{title}}</a></li>
		
  </div>
{{/each}}
<button id='logoutButton' type='submit' class='btn btn-primary'>LOGOUT</button>
<script src='/js/logout.js'></script>




