{{!-- {{todo should house title, username/blog data}} --}}

<div>
    <ul>
        <li>
            {{mapBlogs}}
            {{!-- show list of blogs by title on user's profile --}}
            {{!-- build in add/edit/update/delete blog button to navigate to the blog partial --}}

              <button id='logoutButton'type="submit" class="btn btn-primary">LOGOUT</button>
            text
        </li>
    </ul>
</div>
<script src="/js/logout.js"></script>