<div>
    <h2>Login</h2>
    {{!-- todo buildin loginpage --}}
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="loginEmail">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="loginPassword">
  </div>
  <div class="mb-3 form-check">

  </div>
  <button id='loginButton'type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<script src="/js/login.js"></script>
