<div>
    <h2>Login</h2>
    {{!-- todo buildin loginpage --}}
    <nav>
    <div>
        <button type="button" class="btn">login</button>
    </div>
    <div>
        <button type="button" class="btn">signup</button>
    </div>
    </nav>
</div>

<script src="./js/login.js"></script>
