

    <h2>Login</h2>
  
<form>
  <div class="mb-3">
    <label for="loginEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="loginEmail">
   
  </div>
  <div class="mb-3">
    <label for="loginPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="loginPassword">
  </div>
  <div class="mb-3 form-check">

  <button id='loginButton'type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>

 
    <h2>Signup</h2>
  
<form>
  <div id="signup-form"class="mb-3">
    <label for="user_name" class="form-label">username</label>
    <input type="form-input" type="text" class="form-control" id="user_name">
   
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="form-input" type="text" class="form-control" id="email">
   
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>

  <button id="signUpButton" type="submit" class="btn btn-primary">Submit</button>
 
</form>


 

<script src="/js/login.js"></script>
