<div>
    <h2>Login</h2>
    {{!-- todo buildin loginpage --}}
<form>
  <div class="mb-3">
    <label for="loginEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="loginEmail">
   
  </div>
  <div class="mb-3">
    <label for="loginPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="loginPassword">
  </div>
  <div class="mb-3 form-check">

  </div>
  <button id='loginButton'type="submit" class="btn btn-primary">Submit</button>
</form>

<form>
  <h1>sign up</h1>

   <div class="mb-3">
    <label for="userName" class="form-label">username</label>
    <input type="username" class="form-control" id="userName">
   
  </div>

  <div class="mb-3">
    <label for="signUpEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="signUpEmail">
   
  </div>
  <div class="mb-3">
    <label for="signUpPass" class="form-label">Password</label>
    <input type="password" class="form-control" id="signUpPass">
  </div>
  <div class="mb-3 form-check">

  </div>
  <button id='signUpButton'type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<script src="/js/login.js"></script>
