<form action="">

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Blog Title</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>

<button id='newBlog' type='submit' class='btn btn-primary'>Submit</button>